
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    outline: 1px solid red;
}
body{
font-family: roboto;
}
header{
    border-bottom: 1px solid #ECECEC;
height: 80.0px;

}
.web-header{
    color: #2196F3;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
text-decoration: none;
}
.header-wrap2{
    width: 281px;
    height: 16px;
    padding-left: 93px;
}
.header-wrap3{
    width: 307px;
    height: 16px;
    padding-left: 344px;
}
.nav-link{
    color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
text-decoration: none;
}
.header-studio{
    color: #000;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
text-decoration: none;

}
.header-link2{
    color: #757575;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
text-decoration: none;
}

.header-link{
    color: #2196F3;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
text-decoration: none;
}
.header-nav{
    list-style-type: none;
    gap: 50px;
    display: flex;
}
.header-list{
    list-style-type: none;
    gap: 50px;
    display: flex;
}
.header .container{
    display: flex;
  align-items: center;
  height: 31px;
  width: 1170px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-list2{
    list-style-type: none;
    gap: 20px;
    justify-content: end;
    display: flex;
}
.hero{
    background-color: #2F303A;
height: 600.0px;
}
.hero .container{
    height: 200px;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
    align-items: center;
    align-self: center;
}
.hero-div{
    width: 696px;
    height: 120px;
}
.hero-title{
    flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 60px;
letter-spacing: 2.64px;
text-transform: uppercase;
justify-content: center;
display: flex;
align-items: center;
}
.desc-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.hero-button{
    border-radius: 4px;
background: #2196F3;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
justify-content: center;
width: 216px;
height: 50px;
margin-top: 30px;
}

.desc-caption{
    color: #212121;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
padding-bottom: 10px;
}
.wedo .container{
    height: 386px;
    align-items: center;
    margin-top: 94px;
    margin-bottom: 94px;
}
.wedo-list{
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
}
.desc-text{
    color: #757575;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
}
.description .container{
    height: 98px;
    display: flex;
    align-items: center;
}
.desc-wrap{
    width: 270px;
    height: 98px;
}
.desc-wrap2{
    width: 270px;
    height: 74px;
}
.desc-wrap3{
    width: 270px;
    height: 74px;
}
.desc-wrap4{
    width: 270px;
    height: 98px;
}
.wedo-header{
    color: #212121;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}
.wedo-img{
        width: 370.0px;
height: 294.0px;
}
footer{
    background-color: #2F303A;
}
.footer-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.footer-header{
color: #FFF;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
text-decoration: none;
display: inline-block;
padding-bottom: 20px;
}

.footer-address{
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration: none;
}
.footer-link{
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration: none;
}
.team{
    background-color: #F5F4FA;
}
.team .container{
    height: 460px;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-img{
    width: 270.0px;
height: 260.0px;
}
.team-wrap{
    width: 270px;
    height: 368px;
    background-color: #FFF;
    text-align: center;
}

.team-list{
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.team-caption{
    color: #212121;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
padding-top: 30px;
padding-bottom: 10px;
}
.team-text{
    color: #757575;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.team-header{
    color: #212121;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}
.footer-container{
    height: 132px;
    width: 231px;
    outline: 1px solid red;
    padding-top: 60px;
    padding-left: 215px;
    padding-bottom: 60px;
}
.footer-span{
    color: #2196F3;
    font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.main-link{
    color: #212121;
font-size: 16px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.48px;
background-color: #F5F4FA;
text-decoration: none;
border-radius: 4px;
box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
display: inline-block;
width: 73.0px;
height: 38.0px;
text-align: center;
line-height: 38px;
}
.main-link2{
        color: #212121;
font-size: 16px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.48px;
background-color: #F5F4FA;
text-decoration: none;
border-radius: 4px;
box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
display: inline-block;
width: 125.0px;
height: 38.0px;
text-align: center;
line-height: 38px;
}
.main-link3{
        color: #212121;
font-size: 16px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.48px;
background-color: #F5F4FA;
text-decoration: none;
border-radius: 4px;
box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
display: inline-block;
width: 112.0px;
height: 38.0px;
text-align: center;
line-height: 38px;
}
.main-link4{
        color: #212121;
font-size: 16px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.48px;
background-color: #F5F4FA;
text-decoration: none;
border-radius: 4px;
box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
display: inline-block;
width: 103.0px;
height: 38.0px;
text-align: center;
line-height: 38px;
}
.main-link5{    color: #212121;
font-size: 16px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.48px;
background-color: #F5F4FA;
text-decoration: none;
border-radius: 4px;
box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
display: inline-block;
width: 130.0px;
height: 38.0px;
text-align: center;
line-height: 38px;
}
.main-list{
    display: flex;
    list-style-type: none;
    gap: 8px;
    justify-content: center;
    padding-bottom: 50px;
    padding-left: 307px;
    padding-right: 308px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    justify-content: center;
    margin: 0 auto;
}
.portfolio {
  margin: 0;
}
.portfolio .container{
    height: 1360px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 94px;
}
.portfolio-img{
      width: 370.0px;
      height: 294.0px;
}
.portfolio-link{
    color: #212121;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
text-decoration: none;
display: inline-block;
}
.portfolio-text{
    color: #757575;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
}
.footer-wrap{
    width: 231px;
    height: 81px;
}
.portfolio-wrap{
    width: 370px;
    height: 404px;
    outline: 1px solid #ECECEC;
}
.portfolio-wrap2{
    width: 322px;
    height: 70px;
    padding: 20px 24px 20px 24px;
}